<body>
    <div class="container">
        <div class="row mb-3 st">
            <div class="col-xl-4 col-md-6 mb-3">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    {{pays.nomPays}}</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{pays.capitale}}</div>
                            </div>
                            <div class="col-auto">
                                <img src="../../assets/images/pays/{{pays.drapeuaimage}}"
                                    class="drapeau" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-3">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Nombre de régions</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{nbregion}}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-3">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Nombre de la population</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{pays.nbpopulationpays}} habitants</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-2">
            <mat-divider></mat-divider>
        </div>
        <div class="row mb-3">
            <div class="col-xl-8 col-md-6 mb-3">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-uppercase mb-1" style="text-align: center;">
                                    Présentation : {{pays.nomPays}}</div>
                                <div style="text-align: justify;">
                                    <h3>{{pays.presentation}}</h3>
                                    <div class="row" style="margin-left: 15%;">
                                        <div class="col-auto">
                                            <h3><strong>Capitale :</strong> {{pays.capitale}} </h3>
                                            <h3><strong>Superficie :</strong> {{pays.superficie}} km² </h3>
                                        </div>
                                        <div class="col-auto">
                                            <h3><strong>Devise :</strong> {{pays.devise}} </h3>
                                            <h3><strong>Langue officielle :</strong> {{pays.langueoficielle}} </h3>
                                        </div>
                                    </div>
                                    <!-- <a href="#" class="btn-region">Découvrir les régions</a> -->
                                    <div class="row">
                                        <div class="col"><button mat-button class="btn-region" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal">
                                                <span>Modifier le pays</span>
                                            </button></div>
                                        <div class="col"><button mat-button class="btn-region" routerLink="/">
                                                <span>Supprimer le pays</span>
                                            </button></div>
                                            
                                    </div>
                                </div>

                            </div>

                            <div class="col-auto">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-3">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2 tt">
                                <div class="text-xs font-weight-bold text-uppercase mb-1 py-2"
                                    style="text-align: center;">
                                    Sa carte</div>
                                <img src="../../assets/images/pays/{{pays.carteimage}}"
                                    class="carte py-3" alt="">
                                    <button mat-button class="btn-regions" style="margin-left: 20%;" (click)="goToDettailPaysRegion(pays.idPays)">
                                        <span>Découvrir les régions</span>
                                    </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modifier le pays</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container register">
                        <div class="row">

                            <div class="col-md-12 register-right">

                                <div class="tab-content" id="myTabContent">

                                    <!-- MODIFIER UN PAYS -->
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row register-form">
                                          <div class="row">
                                            <div class="col">
                                              <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="floatingInput" placeholder="Nom du pays">
                                                <label for="floatingInput">Nom du pays</label>
                                              </div>
                                            </div>
                                            <div class="col">
                                              <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="floatingInput" placeholder="Capitale">
                                                <label for="floatingInput">Capitale</label>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="row">
                                            <div class="col">
                                              <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="floatingInput" placeholder="Superficie">
                                                <label for="floatingInput">Superficie</label>
                                              </div>
                                            </div>
                                            <div class="col">
                                              <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="floatingInput" placeholder="Langue officielle">
                                                <label for="floatingInput">Langue officielle</label>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="row">
                                            <div class="col">
                                              <div class="input-group mb-3">
                                                <input type="file" class="form-control" id="inputGroupFile02">
                                              </div>
                                            </div>
                                            <div class="col">
                                              <div class="input-group mb-3">
                                                <input type="file" class="form-control" id="inputGroupFile02">
                                              </div>
                                            </div>
                                          </div>
                                          <div class="form-floating">
                                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                              rows="2" style="height: 100px"></textarea>
                                            <label for="floatingTextarea2">Présentation du pays</label>
                                          </div>
                                          <br>
                                          <div class="row bA">
                                            <button mat-button class="btnAj"
                                              style="background-color: #3BC3FF; text-align: center;border-radius: 12px;"
                                              data-bs-toggle="modal" data-bs-target="#exampleModal">
                                              <span>Modifier</span>
                                            </button>
                                          </div>
                                        </div>
                                      </div>
                    
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>