<mat-toolbar>
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  <h1>Application MaliTourist</h1>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">

    <a routerLink="/login" routerLinkActive="active">
      <img class="avatar mat-elevation-z8"
      src="https://image.shutterstock.com/image-vector/person-icon-flat-symbol-design-260nw-424612276.jpg" />
    </a>
    

    <h4 class="name">Tiècoura DIARRA</h4>
    <p class="designation">Administrateur</p>

    <mat-divider></mat-divider>

    <!-- <button mat-button class="menu-button" routerLink="/board" routerLinkActive="active">
      <mat-icon></mat-icon>
      <span>Board</span>
    </button>
    <br> -->
    <button mat-button class="menu-button" routerLink="/accueil" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span>Accueil</span>
    </button>
    <br>
    <button mat-button class="menu-button" routerLink="/regions" routerLinkActive="active">
      <mat-icon>location_on</mat-icon>
      <span>Régions</span>
    </button>
    <br>
    <button mat-button class="menu-button" routerLink="/utilisateur" routerLinkActive="active">
      <mat-icon>person</mat-icon>
      <span>Utilisateur</span>
    </button>
    <br>
    <div class="py-5"></div>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" style="background-color: #3BC3FF; text-align: center;border-radius: 12px;" routerLink="/accueil">
      <mat-icon>power_settings_new</mat-icon>
      <span>Déconnexion</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>