<body>
  <div class="container">
    <div class="row mb-3">
      <div class="col-xl-4 col-md-6 mb-3">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                  Nombre de pays</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">10</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 mb-3">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                  Nombre de régions</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">21</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 mb-3">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                  Population mondiale</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">21 000 000 hbts</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-2">
      <mat-divider></mat-divider>
    </div>
    <div class="row">
      <button mat-button class="btnAj" style="background-color: #00A896; text-align: center;border-radius: 12px;">
        <span>Ajouter un pays</span>
      </button>

    </div>
    <div class="container regionrow">
      <div class="row">
        <div class="col">

          <div class="card cardi" style="width: 10rem;">
            <a routerLink="/detailspays">
              <img
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALYAAAB5CAMAAACjkCtXAAAAG1BMVEUUtTrOESb80RYAtDt3vTL/0xH/2xTcYyLMACZ4nGq/AAAAeklEQVR4nO3OSQEAIAwAoHnO/ontMJ9CAiLqxly9bOdpdQ9rbW1tbW1tbW1tbW1tbW1tbW1tbW1tbW1tbW1tbW1tbW1tbW1tbW1tbW1tbW1tbW1tbW1tbW1tbW1tbW1tbW1tbW1tbW1tbW1tbW1tbW1tbW1tbW3tL9oX62diUWhCyzAAAAAASUVORK5CYII="
                class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">MALI</h5>
                <h5 class="card-text"><strong>Capitale :</strong> Bamako </h5>
              </div>
            </a>
          </div>

        </div>

      </div>

    </div>

  </div>


</body>