<body>
    <div class="row mb-3">
        <div class="col-xl-4 col-md-6 mb-3">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Nombre d'utilisateur</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">10</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-xl-4 col-md-6 mb-3">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Nombre de régions</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">21</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-xl-4 col-md-6 mb-3">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Population mondiale</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">21 000 000 hbts</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <div class="row py-2">
        <mat-divider></mat-divider>
    </div>
    <div class="row">
        <h2>La liste des utilisateurs </h2>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Noms</th>
                <th scope="col">Prénoms</th>
                <th scope="col">Email</th>
                <th scope="col">Numéro</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody >
            <tr>
                <th scope="row">1</th>
                <td>DIARRA</td>
                <td>Tiècoura</td>
                <td>tiec@gmail.com</td>
                <td>70 80 48 08</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>MALLE</td>
                <td>Alassane</td>
                <td>youno@gmail.com</td>
                <td>92 92 18 99</td>
            </tr>
            
        </tbody>
    </table>
</body>